@model Vikaba.Data.BoardThread

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var comment in Model.Comments)
{
    <div class="comment">
        <span class="postdate">@comment.CreatedAt</span>
        <span class="id">@comment.Id</span>
        <span class="username">@comment.UserName</span>
        <blockquote class="usertext">@comment.UserText</blockquote>
    </div>
}